body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/*  --應該是可以拿掉？
body{
 	max-width: 100%;
 	height: auto;
 }
*/

.d-flex {
    display: flex;
}

/* container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 992px) {
	.container {
	  max-width: 672px;
	}
  }
  
@media (max-width: 767px) {	
	.container {	  
	  max-width: 352px;	
	}
}


/* 共用的class最好寫在後面 以免被蓋掉 */
.title{
	font-size: 48px;
	line-height: 72px;
	color: #650300;
	font-weight: bold;
	text-align: center;
	padding-top: 64px;
	padding-bottom: 60px;
}

.titleColor{
	color: #fff;
} 

.titleRec{
	color: #fff;
	padding-top: 0;
}

.titleContact{
	color: #000;
	padding-bottom: 24px;
}

@media(max-width: 992px){
	.title{
	  font-size: 32px;
	  line-height: 48px;
	  padding-top: 40px;
	  padding-bottom: 32px;
	}

	.titleRec{
		padding-top: 0;
	}
	.titleContact{
		padding-bottom: 16px;
	}
} 
@media(max-width:767px){
	.title{
		font-size: 24px;
		padding-top: 24px;
		padding-bottom: 16px;
	  }
	.titleRec{
		padding-top: 0;
	} 
	.titleContact{
		padding-bottom: 8px;
	} 
} 
